/*
Project Name: Blank Template
Client: Your Client
Author: Heather Palmer
Developer @GA in SEA
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     /*background-size: cover;*/
     background-size: 100% 500px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
}


/*my button should have been an <a class="getit" href="index.html">Get It Now </a>*/

button {
  display: inline-block;
  position: relative; /*taking "fixed" out to see if this helps the element stay put*/
  top: 133px;
  left: 40%;
/*  font-weight: 900;
  font-family: 'open sans';  these need to define the text, not the button itself
  font-size: 14px;*/
  background-color: #f9e42e; /* yellow */ 
  border-radius: 5px 5px; 
  padding: 11px 43px;
  border-style: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.h1fixed {
  position: relative; /*taking "fixed" out to see if this helps the element stay put*/
  font-size: 24px;
  top: 0px;
  margin-left: 90px;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 900;
  border-radius: 5px 5px; 
  padding: 15px 30px;
  border-style: none;
}

.h2fixed {
  position: relative; /*taking "fixed" out to see if this helps the element stay put - It worked!*/
  font-size: 24px;
  top: -15px;
 /* left: 90;*/
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 500;
/*  border-radius: 5px 5px; 
  padding: 15px 30px;
  border-style: none;*/
}

p.benefits{
  font-weight: bolder; 
  font-family: 'open sans'; 
  font-size: 20px;
  width: 200px;
  height: 25px;
  padding: 0px 50px;
  left: 45%;
}

.div_benefits {
  background-color: #f0efef;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: -20px
}

.paragraph{
  margin: 0px 100px 10px 55px;
  p/*for some reason, if I remove this "p" my formatting gets messed up*/
  font-size: 13px;
}

ul.circle {
  list-style-type: circle;
  color: #606161;
  margin-left: 100px;
}

#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center;
  position: relative; /*adding this to  see if it allows the image to remain put*/
  background-size: 100% 200px;
}

#testimonialwords {
  font-style: italic;
  margin: auto;
  padding: 20px 250px 30px 250px;
  position: relative; /*adding this to  see if it allows the words to remain put*/
}

#amanda {
  padding-bottom: 15px;
}

#sign_up_background {
  width: 100%;
  margin-top: -65px;
  height: 150px;
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  background-color: #f9e42e;
}

#sign_up_button {
  font-size: 20px;
  background-color: #033048;
  background-position: center;
  display: inline-block;
  margin: 0 auto;
  border-radius: 5px 5px; 
  padding: 20px 75px;
  border-style: none;
}

p#footer_relaxr {
  text-align: center;
  font-size: 40px;
  color: #f9e42e;
  font-weight: bolder;
  margin-top: 8px;
 /* padding-bottom: -5px;*/
}

.centerImageTwitter {
  float: left;
  padding-left: 46%;
  padding-bottom: 20px;
}

.centerImageFacebook {
  float: right;
  padding-right: 47%;
  padding-bottom: 20px;
}


p#footer_copyright {
  text-align: center;
  font-size: 10px;
  color: white;
  padding-top: 70px;
}

#footer_background {
  background-color: black;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 5px;
}
